@charset "UTF-8";

/* 回答はここに書いてね */

/* Q7-1 */
.clearfix:after {
  display: block;
  content: ""; 
  clear: both;
}

.q7__container {
  width: 225px;
  font-size: 16px;
  float: left;
  box-sizing: border-box;
}

.q7__container:nth-child(2) {
  margin-left: 50px;
}
/* Q7-1 */

/* Q7-2 */
.table {
  display: table;
}

.table-container {
  display: table-cell;
  width: 225px; 
  vertical-align: middle;
}

.table-text {
  font-size: 16px; 
  display: block;
}

.table-container:nth-child(2) {
  padding-left: 50px;
}
/* Q7-2 */

/* Q7-3 */
.inline-block-container {
  font-size: 0;
}

.inline-block-text {
  width: 225px; 
  font-size: 16px; 
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 50px;
}

.inline-block-text:first-child{
  margin-left: 0px;
}
/* Q7-3 */

/* Q7-4 */
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-text {
  width: 225px;
  font-size: 16px;
  padding: 10px; 
  box-sizing: border-box;
}
/* Q7-4 */

/* Q7-5 */
.erase-font {
  font-size: 0;
}

.full-container {
  width: 300px;
  vertical-align: top;
  display: inline-block;
}

.flexible-container {
  width: 100%;
  box-sizing: border-box; 
  vertical-align: top; 
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
}

.q7-5-font {
  font-size: 16px;
}
/* Q7-5 */
/* 回答はここに書いてね */  