@charset "UTF-8";

/* 回答はここに書いてね */
.q9-container {
  width: 500px;
  margin: 0 auto;
  border: 5px solid #222;
  border-radius: 30px;
  padding: 20px;
  position: relative;
}

.q9-text {
  font-size: 16px; 
  line-height: 16px; 
}

.q9-text:before, .q9-text:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: 0; 
  left: 0;
  border: 20px solid transparent;
}

.q9-text:before {
  bottom: -45px; 
  left: 30px; 
  border-top-color: #222;
}

.q9-text:after {
  bottom: -38px;
  left: 30px;
  border-top-color: #fff;
}

/* 回答はここに書いてね */
