@charset "UTF-8";

/* 回答はここに書いてね */
.q3-table {
  width: 100%;
  table-layout: fixed;
}

.q3-table thead tr th, .q3-table tbody tr th  {
  color: white; 
  border: solid #dedede 1px;
  background-color: #2244aa;
  font-size: 18px; 
  line-height: 26px;
  padding: 10px;
}

.q3-table tbody tr td  {
  border: solid #dedede 1px;
  font-size: 16px; 
  line-height: 22px;
  text-align: center;
}

.q3-table tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

.q3-table tbody tr:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
